<a href="https://colab.research.google.com/github/AldinWil10/sanber-data-analys/blob/main/week1/Tugas_Hari_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [ ]:
print("Hello World !")

Hello World !

Expected Output :

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [ ]:
a = 5
b = 4

print ("Hasil a+b= ", a+b)
print ("Hasil a-b= ", a-b)
print ("Hasil axb= ", a*b)
print ("Hasil a/b= ", a/b)

Hasil a+b=  9
Hasil a-b=  1
Hasil axb=  20
Hasil a/b=  1.25

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [ ]:
a = 10
b = 3

print ("Hasil a/b= ", int(a/b))
print ("Hasil a/b= ", float(a/b))

Hasil a/b=  3
Hasil a/b=  3.3333333333333335

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lastname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science dasar.'

In [ ]:
firstname = "Aldin"
lastname = "Wildan"

print ("Hello sanbercode, saya" +" "+ str(firstname) +" "+ str(lastname)+"! saya siap belajar python data science dasar.")

Hello sanbercode, saya Aldin Wildan! saya siap belajar python data science dasar.

Expected Output :

Hello sanbercode, saya Afrida Hafizhatul Ulum! saya siap belajar python data science dasar.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [ ]:
usia = 24
kata = 'usiaku: '
print(kata+""+str(usia)+" tahun")

usiaku: 24 tahun

Expected Output : (sesuai usia masing-masing)

usiaku: 28 tahun